<h1>
  <a style="text-decoration:none;color:#ba3925" href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
</h1>

{% if page.permalink != page.root 
  and page.permalink != "/blog/" 
  and page.permalink != "/note/"
  and page.permalink != "/404" %}
  {% include breadcrumbs.html %}
{% endif %}

{{ content }}

{% if page.permalink != site.root 
  and page.permalink != "/blog/"
  and page.permalink != "/note/"
  and page.permalink != "/404" %}
  <div class="text-center mt3 mb4">***</div>
{% endif %}

<hr style="border-color:#efefed">

<div class="mb3">
  {% if page.categories == "blog" %}
    <h3>Posts</h3>
    <ul id="posts" class="posts nav">
      {% assign posts = site.posts | where_exp:"page", "page.categories == 'blog'" %}
      {% for post in posts limit: 5 %}
        <li><a href="{{ site.url }}{{ post.url }}">{{ post.navtitle }}</a></li>
      {% endfor %}
    </ul>
    <p><a href="{{ site.url }}/blog/">more...</a></p>
  {% elsif page.categories == "note" %}
    <h3>Notes</h3>
    <ul id="posts" class="posts nav">
      {% assign posts = site.posts | where_exp:"page", "page.categories == 'note'" %}
      {% for post in posts limit: 5 %}
        <li><a href="{{ site.url }}{{ post.url }}">{{ post.navtitle }}</a></li>
      {% endfor %}
    </ul>
    <p><a href="{{ site.url }}/note/">more...</a></p>
  {% endif %}
</div>
