{% if page.navtitle != nil %}
  <h1>
    <a style="text-decoration:none;color:#ba3925" href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
  </h1>
{% endif %}

{% if page.permalink != page.root
  and page.permalink != "/about/"
  and page.permalink != "/blog/"
  and page.permalink != "/contact/"
  and page.permalink != "/note/"
  and page.permalink != "/404" %}
  {% include breadcrumbs.html %}
{% endif %}

<div class="show-for-small-only">
  {% include _default/sidebar.html %}
</div>

{% if page.permalink != page.root
  and page.author != nil
  and page.layout == "default-wide" %}
  {% include metadata.html %}
{% endif %}

{{ content }}

{% if page.permalink != site.root
  and page.permalink != "/about/"
  and page.permalink != "/blog/"
  and page.permalink != "/contact/"
  and page.permalink != "/note/"
  and page.permalink != "/404" %}

  <div class="text-center mt3 mb4">***</div>

  <!-- Edit this article -->
  <div class="text-right">
    {% if page.permalink == "/blog/:title" %}
      <span style="font-size:1.1em"><i class="fa fa-edit"></i></span><a href="https://github.com/bandithijo/v2/edit/master/_posts/{{ page.categories }}/{{ page.date | date: '%Y' }}/{{ page.date | date: '%Y-%m-%d' }}-{{ page.url | remove: '/blog/' | remove: '.html' }}.adoc"> Edit this post</a>
    {% elsif page.permalink == "/note/:title" %}
      <span style="font-size:1.1em"><i class="fa fa-edit"></i></span><a href="https://github.com/bandithijo/v2/edit/master/_posts/{{ page.categories }}/{{ page.date | date: '%Y-%m-%d' }}-{{ page.url | remove: '/note/' | remove: '.html' }}.adoc"> Edit this note</a>
    {% endif %}
  </div>
  <!-- End Edit this article -->

  <hr style="border-color:#efefed">
{% endif %}

<!-- New post -->
{% if page.categories == "blog" %}
  <div class="mb3">
    <h3>Posts</h3>
    <ul id="posts" class="posts nav">
      {% assign posts = site.posts | where_exp:"page", "page.categories == 'blog'" %}
      {% for post in posts limit: 5 %}
        <li><a href="{{ site.url }}{{ post.url }}">{{ post.navtitle }}</a></li>
      {% endfor %}
    </ul>
    <p><a href="{{ site.url }}/blog/">more...</a></p>
  </div>
{% elsif page.categories == "note" %}
  <div class="mb3">
    <h3>Notes</h3>
    <ul id="posts" class="posts nav">
      {% assign posts = site.posts | where_exp:"page", "page.categories == 'note'" %}
      {% for post in posts limit: 5 %}
        <li><a href="{{ site.url }}{{ post.url }}">{{ post.navtitle }}</a></li>
      {% endfor %}
    </ul>
    <p><a href="{{ site.url }}/note/">more...</a></p>
  </div>
{% endif %}
<!-- End New post -->
