<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: small">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1 class="show-for-medium-up">
          <a href="{{ site.url }}"><i class="fa fa-archive"></i>&nbsp; {{site.title}} <sup>v2-beta</sup></a>
        </h1>
        <h1 class="show-for-small-only">
          <a href="{{ site.url }}"><i class="fa fa-archive"></i>&nbsp; BANDITHIJO <sup>v2-beta</sup></a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          <a class="menu-dropdown" href="#"><i class="fa fa-clipboard"></i> Logs</a>
          <ul class="dropdown">
            <li><a href="{{ site.url }}/blog/">Blog</a></li>
            <li><a href="{{ site.url }}/note/">Note</a></li>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <!-- <ul class="left"> -->
      <!--   <li><a href="#">Left Nav Button</a></li> -->
      <!-- </ul> -->
    </section>
  </nav>
</div>
