{% if page.permalink != page.root
  and page.categories != "about"
  and page.author != nil %}

    {% include metadata.html %}

{% endif %}

{% if page.permalink != page.root
  and page.permalink != "/about/"
  and page.permalink != "/blog/"
  and page.permalink != "/contact/"
  and page.permalink != "/note/"
  and page.toc != false %}

  {% include _sidebar/sidebar-toc.html %}

{% endif %}

{% if page.permalink != page.root 
  and page.permalink != "/contact/"
  and page.permalink != "/404" %}

  <div class="show-for-medium-up">
    {% include _sidebar/sidebar-panels.html %}
  </div>

{% endif %}
