@font-face {
  font-family: "mplus Nerd Font";

  src: url("../fonts/mplus/mplus-1mn-medium-nerd-cont-complete.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
