<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">

{% include _default/head.html %}

<body>

<!-- Nav Bar -->
{% include _default/navbar.html %}
<!-- End Nav -->

{% if page.permalink != page.root
  and page.permalink != "/about/"
  and page.permalink != "/blog/"
  and page.permalink != "/note/"
  and page.permalink != "/404" %}
  {% include header-slider.html %}
{% endif %}

<!-- Main Page Content and Sidebar -->
<div id="content-wrapper">
  <div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
      {% include _default/main.html %}
    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->
    <aside class="large-3 columns show-for-medium-up mt3">
      {% include _default/sidebar.html %}
    </aside>
    <!-- End Sidebar -->

  </div>
</div>
<!-- End Main Content and Sidebar -->


<!-- Footer -->
{% include _default/footer.html %}
<!-- End Footer -->

{% include _default/scripts.html %}

</body>
</html>
<!-- Made with ❤️ by Rizqi Nur Assyaufi - @bandithijo | 2012 - {{ site.time | date: '%Y' }} -->
